@if (devmode) {
<blockly-main [devmode]="devmode"></blockly-main>
<div class="lib-mangager-btn ccenter" (click)="openProjectManager()">
  {{ "LIB_MANAGER.TITLE" | translate }}
</div>
}
@if (developerMode) {
<app-dev-tool></app-dev-tool>
}

@if (showLibraryManager) {
  <app-lib-manager (close)="showLibraryManager = false"></app-lib-manager>
}
<!-- @if (showLibEditor) {
<app-lib-editor (close)="showLibEditor=false"></app-lib-editor>
} -->
<app-float-sider [show]="showFloatSider"></app-float-sider>
<app-notification></app-notification>
