.prompt-box {
    background: var(--surface-elevated);
    border-radius: 5px;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    height: 34px;
    border-bottom: 1px solid var(--border-color);
    background: var(--surface-elevated);
}

.title {
    height: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.win-btns {
    display: flex;
    align-items: center;
    font-size: 15px;

    .btn {
        font-size: 16px;
        width: 33px;
        height: 33px;
        margin-right: 0;

        &:hover {
            background: var(--hover-bg);
        }
    }

    .minimize {
        font-size: 18px;
    }

    .go-main {
        // border-right: 1px solid var(--border-strong);
        margin-right: 10px;
        font-size: 17px;
        background: transparent !important;

        &:hover {
            color: rgb(75, 151, 221);
        }
    }

    .close {
        font-size: 19px;

        &:hover {
            color: rgb(145, 0, 0);
        }
    }
}

.content {
    padding: 10px;
    background: var(--surface-base);

    input {
        background: var(--hover-bg);
    }
}

.footer {
    margin-top: 10px;
    text-align: right;

    button {
        margin-left: 10px;
    }
}