<div class="text-viewer">
  <div class="toolbar">
    <div class="info">
      <i class="fa-light fa-file-lines"></i>
      <span class="name" [title]="data.name">{{ data.name }}</span>
      <span class="size">{{ totalSizeText }}</span>
      @if (truncated) {
      <span class="truncated-tag">已截断（显示前 {{ shownSizeText }}）</span>
      }
    </div>
    <div class="actions">
      <button class="tb-btn" (click)="copyAll()" title="复制全部内容">
        <i class="fa-light fa-copy"></i>
      </button>
      <button class="tb-btn" (click)="close()" title="关闭">
        <i class="fa-light fa-xmark"></i>
      </button>
    </div>
  </div>
  <pre class="content sscroll">{{ text }}</pre>
</div>
