<div class="text-viewer">
  <div class="toolbar">
    <div class="info">
      <i class="fa-light fa-file-lines"></i>
      <span class="name" [title]="data.name">{{ data.name }}</span>
      <span class="size">{{ totalSizeText }}</span>
      @if (truncated) {
      <span class="truncated-tag">{{ 'FFS_MANAGER.VIEWER.TRUNCATED' | translate: { size: shownSizeText } }}</span>
      }
    </div>
    <div class="actions">
      <button class="tb-btn" (click)="copyAll()" [title]="'FFS_MANAGER.VIEWER.COPY_ALL' | translate">
        <i class="fa-light fa-copy"></i>
      </button>
      <button class="tb-btn" (click)="close()" [title]="'FFS_MANAGER.VIEWER.CLOSE' | translate">
        <i class="fa-light fa-xmark"></i>
      </button>
    </div>
  </div>
  <pre class="content sscroll">{{ text }}</pre>
</div>
