@if (viewMode.showTimestamp) {
<div class="item" [ngClass]="{'highlight': data.highlight, 'search-active': data.searchHighlight}">
  <!-- @if (viewMode.showTimestamp) { -->
  <div class="time">{{ data.time }}</div>
  <div class="dir" [ngClass]="{ 'tx': data.dir == 'TX','sys':data.dir=='SYS' }">
    {{data.dir}}
  </div>
  <div class="data vsfont"
    [ngClass]="{ 'tx': data.dir == 'TX', 'sys':data.dir == 'SYS', error: data.isError,'nowrap': !viewMode.autoWrap }">
    @if (viewMode.showHex || data.showHex) {
      <span [textContent]="data.data | showHex"></span>
    } @else if (viewMode.showCtrlChar) {
      <span [innerHTML]="data.data | showNR"></span>
    } @else {
      <span [textContent]="data.data | addNewLine"></span>
    }
  </div>
</div>
}@else{
<span class="data vsfont"
  [ngClass]="{ 'tx': data.dir == 'TX', 'sys':data.dir == 'SYS', error: data.isError,'nowrap': !viewMode.autoWrap }">
  @if (viewMode.showHex) {
    <span [textContent]="data.data | showHex"></span>
  } @else if (viewMode.showCtrlChar) {
    <span [innerHTML]="data.data | showNR"></span>
  } @else {
    <span [textContent]="data.data | addNewLine"></span>
  }
</span>
}
