<div class="code-editor">
    <nz-layout>
        <nz-sider [nzWidth]="siderWidth" nz-resizable [nzMinWidth]="250" [nzMaxWidth]="600"
            (nzResize)="onSideResize($event)">
            <nz-resize-handle nzDirection="right" nzCursorType="grid">
                <!-- <div class="sider-resize-line"></div> -->
            </nz-resize-handle>
            <div class="left-box">
                @if (isProfessionalMode) {
                <div class="professional-panel-tabs">
                    <button type="button" [class.active]="leftPanelMode === 'library'"
                        (click)="leftPanelMode = 'library'">
                        <i class="fa-light fa-books"></i>
                        <span>库</span>
                    </button>
                    <button type="button" [class.active]="leftPanelMode === 'files'"
                        (click)="leftPanelMode = 'files'">
                        <i class="fa-light fa-folder-tree"></i>
                        <span>文件</span>
                    </button>
                </div>
                @if (leftPanelMode === 'library') {
                <app-professional-library-reference></app-professional-library-reference>
                } @else {
                <app-file-tree [rootPath]="projectPath" [hideHidden]="true" [(selectedFile)]="selectedFile"
                    (selectedFileChange)="selectedFileChange($event)"
                    (filesDeleted)="onFilesDeleted($event)"></app-file-tree>
                }
                } @else {
                <app-file-tree [rootPath]="projectPath" [(selectedFile)]="selectedFile"
                    (selectedFileChange)="selectedFileChange($event)"
                    (filesDeleted)="onFilesDeleted($event)"></app-file-tree>
                }
            </div>
        </nz-sider>
        <nz-content>
            <div class="right-box">
                @if (openedFiles.length > 0) {
                <nz-tabset [nzSize]="'small'" [nzSelectedIndex]="selectedIndex"
                    (nzSelectedIndexChange)="onTabChange($event)" nzType="editable-card" [nzHideAdd]="true"
                    (nzClose)="closeTab($event)">
                    @for (file of openedFiles; track file.path; let i = $index) {
                    <nz-tab nzClosable [nzTitle]="titleTemplate">
                        <ng-template #titleTemplate>
                            <span class="tab-inner" (mousedown)="handleMiddleClick($event, i)">
                                {{ file.title }} <span class="blue-point" *ngIf="file.isDirty"></span>
                            </span>
                        </ng-template>
                    </nz-tab>
                    }
                </nz-tabset>
                <app-monaco-editor [code]="code" (codeChange)="onCodeChange($event)" [filePath]="selectedFile"
                    (openFileRequest)="onOpenFileRequest($event)"></app-monaco-editor>
                } @else {
                <div class="empty-editor">
                    <i class="fa-light fa-file-code"></i>
                    <div>请选择左侧文件开始编辑</div>
                </div>
                }
            </div>
        </nz-content>
    </nz-layout>
</div>

<app-notification></app-notification>
