<div class="project-new-box">
  <div class="project-header">
    <button type="button" class="back-btn ccenter" (click)="back()" nz-tooltip
      [nzTooltipTitle]="'PROJECT_NEW.BUTTONS.CANCEL_CREATE' | translate">
      <i class="fa-regular fa-chevron-left"></i>
    </button>
    <div class="title-stack">
      <div class="eyebrow">{{ 'PROJECT_NEW.TITLE' | translate }}</div>
      <div class="page-title">
        {{ currentStepTitle | translate }}
      </div>
    </div>
    <div class="header-spacer"></div>
    @if (currentStep == 0) {
    <nz-input-group class="board-search" [nzSuffix]="suffixIconSearch" [nzSize]="'small'">
      <input type="text" nz-input [placeholder]="'PROJECT_NEW.BOARD.SEARCH' | translate" [(ngModel)]="keyword"
        (ngModelChange)="search()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      @if(keyword.length > 0){
      <i class="fa-light fa-xmark" (click)="keyword='';search()"></i>
      } @else {
      <i class="fa-light fa-search"></i>
      }
    </ng-template>
    }
  </div>

  <div class="content" [class.with-steps]="currentStep > 0">
    <main class="right">
      @if (currentStep == 0) {
      <div class="right-inner flex-start">
        <div class="board-selector-box sscroll">
          @if (boardList.length > 0) {
          <div class="board-selector">
            @for (board of boardList; track board.name) {
            <button type="button" class="board" [ngClass]="{ selected: currentBoard?.name == board.name, disabled: board.disabled }"
              (click)="selectBoard(board)">
              <span class="img-box">
                <img [sequentialSrc]="getBoardImageUrl(board)" [fallbackSrc]="defaultBoardImageUrl"
                  [alt]="board.nickname || board.name" draggable="false" />
              </span>
              <span class="board-meta">
                <span class="name">{{ board.nickname }}</span>
                <span class="subline">
                  {{ board.brand || board.type || board.name }}
                  @if(board.state){
                  <span class="state">({{board.state}})</span>
                  }
                </span>
              </span>
            </button>
            }
          </div>
          } @else {
          <div class="empty-state">
            <i class="fa-light fa-magnifying-glass"></i>
            <span>{{ 'PROJECT_NEW.BOARD.SEARCH' | translate }}</span>
          </div>
          }
        </div>

        @if(currentBoard){
        <section class="desc-box">
          <div class="preview ccenter">
            <img [src]="getBoardImageUrl(currentBoard)" (error)="useDefaultBoardImage($event)"
              [alt]="currentBoard.nickname || currentBoard.name" draggable="false" />
          </div>
          <div class="desc-content">
            <div class="title-row">
              <div class="title-text">{{currentBoard.nickname}}</div>
              @if(currentBoard.state=='alpha'){
              <span class="warn"><i class="fa-light fa-circle-exclamation"></i>{{ 'PROJECT_NEW.WARNINGS.BETA_VERSION' |
                translate }}</span>
              }
              @if(currentBoard.state=='todo'){
              <span class="warn"><i class="fa-light fa-circle-exclamation"></i>{{ 'PROJECT_NEW.WARNINGS.TODO' |
                translate }}</span>
              }
            </div>
            <div class="text sscroll">{{ currentBoard.description }}</div>
            <div class="next">
              @if(currentBoard.state!='todo'){
              <button nz-button nzType="primary" (click)="nextStep()">
                {{ 'PROJECT_NEW.BUTTONS.USE_THIS' | translate }}
              </button>
              }
              <button nz-button nzType="default" (click)="back()">
                {{ 'PROJECT_NEW.BUTTONS.CANCEL_CREATE' | translate }}
              </button>
              @if(currentBoard.url){
              <button nz-button nzType="text" class="doc-btn" (click)="openUrl(currentBoard.url)">
                <i class="fa-regular fa-book"></i>{{ 'PROJECT_NEW.BOARD.READ_DOC' | translate }}
              </button>
              }
            </div>
          </div>
        </section>
        }
      </div>
      } @else {
      <div class="right-inner setup-view">
        <div class="right-content">
          <div class="setup-form-grid">
            <div class="item">
              <div class="label">{{ 'PROJECT_NEW.FORM.BOARD' | translate }}</div>
              <div class="board-name-text">{{ newProjectData.board.name }}</div>
            </div>
            <div class="item">
              <div class="label">{{ 'PROJECT_NEW.FORM.SDK_VERSION' | translate }}</div>
              <nz-select class="sdk-select" [(ngModel)]="newProjectData.board.version"
                nzDropdownClassName="project-version-dropdown" [nzOptionHeightPx]="42" [nzOptionOverflowSize]="1">
                @for (version of boardVersionList; track version) {
                <nz-option [nzValue]="version" [nzLabel]="version"></nz-option>
                }
              </nz-select>
            </div>
          </div>
          <div class="item project-name-item">
            <div class="label">{{ 'PROJECT_NEW.FORM.PROJECT_NAME' | translate }}</div>
            <nz-input-group [nzAddOnAfter]="randomNameTemplate">
              <input nz-input [(ngModel)]="newProjectData.name" (ngModelChange)="checkPathInvalidChars()" />
            </nz-input-group>
            <ng-template #randomNameTemplate>
              <button type="button" class="random-name-btn" nz-button nzType="text" nz-tooltip
                [nzTooltipTitle]="'PROJECT_NEW.BUTTONS.RANDOM_NAME' | translate" (click)="generateRandomProjectName()">
                <i class="fa-light fa-dice"></i>
              </button>
            </ng-template>
            @if(showIsExist){
            <div class="error animate__animated animate__faster animate__fadeInDown">{{ 'PROJECT_NEW.FORM.NAME_EXISTS' |
              translate }}</div>
            }
            @if(showIsPathPassed){
            <div class="error animate__animated animate__faster animate__fadeInDown">{{ 'PROJECT_NEW.FORM.PATH_INVALID_CHARS'
              | translate }}</div>
            }
          </div>
          <div class="step-btns">
            <button nz-button nzType="default" (click)="currentStep = 0">
              {{ 'PROJECT_NEW.BUTTONS.PREV' | translate }}
            </button>
            @if (currentStep == 1) {
            <button nz-button nzType="primary" [nzLoading]="projectNameChecking"
              [disabled]="showIsExist || showIsPathPassed || projectNameChecking" (click)="createProject()">
              {{ 'PROJECT_NEW.BUTTONS.CREATE' | translate }}
            </button>
            <button nz-button nzType="default" (click)="back()">
              {{ 'PROJECT_NEW.BUTTONS.CANCEL_CREATE' | translate }}
            </button>
            }@else if (currentStep == 2) {
            <button nz-button nzType="default" nzLoading>
              {{ 'PROJECT_NEW.BUTTONS.CREATING' | translate }}
            </button>
            }
          </div>
        </div>
      </div>
      }
    </main>
  </div>
</div>
