@if (isSubagent) {
  <!-- 子Agent消息折叠视图 -->
  <div
    class="subagent-fold animate__animated animate__fadeIn animate__faster"
    (mouseenter)="onDialogMouseEnter()"
    (mouseleave)="onDialogMouseLeave()"
  >
    <div class="subagent-fold-header" (click)="subagentExpanded = !subagentExpanded">
      @if (doing) {
        <i class="fa-duotone fa-solid fa-loader subagent-fold-icon loading ac-spin"></i>
      } @else {
        <i class="fa-light fa-circle-check subagent-fold-icon done"></i>
      }
      <span class="subagent-fold-label">{{ doing ? subagentDisplayName + '...' : subagentDisplayName }}</span>
      <i class="fa-light fa-chevron-down subagent-fold-arrow" [class.expanded]="subagentExpanded"></i>
    </div>
    @if (subagentExpanded) {
      <div class="subagent-fold-body" #subagentBody>
        @if (streamContent()) {
          <x-markdown
            [content]="streamContent()"
            [streaming]="streamingConfig()"
            [components]="componentMap"
            rootClassName="x-markdown-dark"
          >
          </x-markdown>
        }
      </div>
    }
  </div>
} @else {
  <div
    class="dialog-box animate__animated animate__fadeIn animate__faster"
    [ngClass]="{ user: role === 'user' }"
    (mouseenter)="onDialogMouseEnter()"
    (mouseleave)="onDialogMouseLeave()"
  >
    @if (canRenderCheckpointAnchor) {
      <div class="checkpoint-action-row">
        <span
          class="restore-checkpoint-text"
          [class.visible]="showCheckpointAnchor"
          (click)="onRestoreCheckpoint()"
        >还原检查点</span>
      </div>
    }
    <div class="username">
      @if (role === "user") {
        <i class="fa-light fa-user-vneck"></i>&nbsp;&nbsp;me
      } @else {
        <i class="fa-light fa-user-astronaut"></i>&nbsp;&nbsp;aily
      }
    </div>
    <div class="content" [class.thinking]="content==='[thinking...]'">
      @if (streamContent()) {
        <x-markdown
          [content]="streamContent()"
          [streaming]="streamingConfig()"
          [components]="componentMap"
          rootClassName="x-markdown-dark"
        >
        </x-markdown>
      }
    </div>
    @if (doing || content==='[thinking...]') {
      <div class="loader"></div>
    }
    @if (canShowActions) {
      <div class="msg-actions">
        <div class="msg-action-btn" (click)="onRegenerate()" title="重试">
          <i class="fa-light fa-rotate-right"></i>
        </div>
        <div class="msg-action-btn" (click)="onCopyContent()" title="复制">
          <i class="fa-light fa-copy"></i>
        </div>
        <div class="msg-action-btn" [class.active]="feedbackState === 'helpful'" (click)="onFeedback('helpful')" title="有帮助">
          <i class="fa-light fa-thumbs-up"></i>
        </div>
        <div class="msg-action-btn" [class.active]="feedbackState === 'unhelpful'" (click)="onFeedback('unhelpful')" title="没帮助">
          <i class="fa-light fa-thumbs-down"></i>
        </div>
      </div>
    } @else if (canShowLimitActions) {
      <div class="msg-actions">
        <!-- <div class="msg-action-btn" (click)="onRegenerate()" title="重试">
          <i class="fa-light fa-rotate-right"></i>
        </div> -->
        <div class="msg-action-btn" (click)="onCopyContent()" title="复制">
          <i class="fa-light fa-copy"></i>
        </div>
        <div class="msg-action-btn" [class.active]="feedbackState === 'helpful'" (click)="onFeedback('helpful')" title="有帮助">
          <i class="fa-light fa-thumbs-up"></i>
        </div>
        <div class="msg-action-btn" [class.active]="feedbackState === 'unhelpful'" (click)="onFeedback('unhelpful')" title="没帮助">
          <i class="fa-light fa-thumbs-down"></i>
        </div>
      </div>
    }
  </div>
}
